In [57]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Perceptron
from sklearn.preprocessing import scale
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

data_train = pd.read_csv('perceptron-train.csv', names=[1,2,3])
data_test = pd.read_csv('perceptron-test.csv', names=[1,2,3])

In [58]:
y_train = data_train[1]
X_train = data_train[[2, 3]]
X_train

            2            3
0   -0.024626  1174.600238
1   -0.978058  1083.198803
2    0.314272 -1472.977609
3    0.179752   231.017267
4   -1.262544  -778.271726
..        ...          ...
295 -0.126438  1861.564124
296 -0.490972  1815.652064
297 -0.375750  -314.074374
298 -1.861976 -1083.677679
299 -0.039329 -1863.884299

[300 rows x 2 columns]

In [59]:
y_test = data_test[1]
X_test = data_test[[2, 3]]
X_test

            2            3
0    1.651437  1337.453826
1   -0.866495  1191.232457
2    0.789828  -475.647768
3    0.179549  1959.095353
4   -0.434351   568.504207
..        ...          ...
195  1.150206  2559.850231
196 -0.732462   159.748695
197  0.412912 -1587.206427
198 -0.098685   682.034777
199  0.760949 -1577.448794

[200 rows x 2 columns]

In [60]:
clf = Perceptron(random_state=241, max_iter=5, tol=None)
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
a = accuracy_score(y_test, predictions)
a

0.655

In [61]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [62]:
clf = Perceptron(random_state=241, max_iter=5, tol=None)
clf.fit(X_train_scaled, y_train)
predictions = clf.predict(X_test_scaled)
b = accuracy_score(y_test, predictions)
b

0.84

In [63]:
b - a

0.18499999999999994